*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font-family: 'Merriweather', Georgia, serif;
  font-size: 100%;
  margin: 0em;
  background-color: #fff;
  color: #212121;
}

h1 {
  font-weight: 900;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.3em;
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #6594e0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 0em;
  max-width: 650px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 800px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 100px;
}

ul li {
  line-height: 1.8;
}

.float-right {
  float: right;
}

header p {
  margin-top: 0;
  line-height: .5;
}

header h1 {
  padding-top: 30px;
}

.portrait {
  width: 120px;
  border-radius: 5px;
  float: left;
  margin-right: 30px;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}