/* Import Source Sans Pro
----------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:);

/* Import Icon fonts
----------------------------------------------------------------*/
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Layout
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #572f2b;
  color: #e7e7dc;
  height: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
}

a {
  color: #e33830;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #760c0c;
}

p {
  font-size: 1.2em;
  line-height: 1.4;
  margin-top: 0em;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
}

header {
  background-color: #e33830;
  background-image: url("img/bg.jpg");
  background-repeat: repeat;
  border-bottom: #3f241f 4px solid;
  padding: 2em 0em;
}

header img {
  width: 91px;
  margin: 0 auto;
}

header a.btn-download {
  background-color: #572f2b;
  display: block;
  color: #f3e2d8;
  font-size: .9em;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0px 3px 0px #4b2925;
  text-align: center;
  padding: 11px 0px;
}

header a.btn-download:hover {
  background-color: #6c3733;
  box-shadow: 0px 3px 0px #59312b;
}


header a.btn-white {
  background-color: #e7e7dc;
  display: block;
  color: #e33830;
  font-size: .9em;
  border-radius: 3px;
  box-shadow: 0px 3px 0px #b92626;
  text-align: center;
  padding: 11px 0px;
  width: 49%;
  float: left;
  margin-top: 10px;
}

header a.btn-white:hover {
  opacity: .9;
}

a.btn-white:first-child {
  margin-right: 2%;
}

section {
  padding: 1px 0px;
}

section h1 {
  font-size: 2em;
  margin-bottom: .4em;
  
}

footer {
  padding-top: 8px;
}

.float-right {
     float: right;
}
.center {
  text-align: center;
}

.center-break {
  text-align: center;
}

/*------------------------------------------------------------

Grid system is based off @davatron5000's "Foldy960".
https://github.com/davatron5000/Foldy960

--------------------------------------------------------------*/

/* Responsive Resets
-------------------------------------------------------------- */
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

html {
  overflow-y: auto;
}

img,
audio,
video,
canvas {
  max-width: 100%;
}

/* Grid > 6 Column Mobile First
-------------------------------------------------------------- */
.container {
  max-width: 50em;
  width:92%;
  margin:0px auto;
  position: relative;
}

.container-small {
  max-width: 20em;
  width:92%;
  margin:0px auto;
  position: relative;
  text-align: center;
}

.row {
  margin-left: 0px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 98%;
  }
  
  header {
    padding: 4.5em 0em;
  } 
  

}

@media screen and (min-width: 830px) {
  

}

/* Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
For best results, use your favorite clearfix here.
-------------------------------------------------------------- */
.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */
