/* Import Source Sans Pro
----------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900);

/* Layout
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fefefe;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background-color: #eb2c2c;
  border-bottom: 1px solid #bc1212;
  margin-bottom: 3em;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  color: white;
  font-size: 2.5em;
  margin-top: .4em;
  margin-bottom: 0px;
}

header img {
  width: 8em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 5px #FFF, 0 8px 1px rgba(0, 0, 0, 0.3);
}

header p {
  color: #febcbc;
  font-style: italic;
  margin-top: .1em;
  padding-bottom: .5em;
}

section {
  margin-bottom: 1em;
  color: #333;
}

section h1 {
  font-size: 2em;
  line-height: .8em;
  margin-bottom: .4em;
}

section h3 {
  font-size: 1.3em;
  margin-bottom: .1em;
  margin-top: .4em;
}

.grid-unit {
  border: 2px solid #eee;
  border-radius: 2px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 0em;
}

section ul li {
  font-size: 1.2em;
  margin-left: -10px;
  line-height: 1.5;
}

.small {
  font-size: .6em;
}

footer {
  border-top: 1px solid #ccc;
  color: #555;
  padding-top: 8px;
}

hr {
  border-top: 1px solid #ddd;
  border-bottom: none;
}

.center {
  text-align: center;
}

.left-break {
  text-align: center;
}

.right-break {
  text-align: center;
}

.push-right {
  float: right;
}

/* Pages
-------------------------------------------------------------- */
.page header {
  padding: 0px;
  background-color: transparent;
  border-bottom: 0px;
}

.page header img {
  width: 100%;
  border-bottom: 4px solid #eee;
  border-radius: 0px;
  box-shadow: none;
  margin: 0px;
  background-position: center;  
}

.page img.caption {
  border: 2px solid #eee;
  border-radius: 2px;
}


/* Typography
-------------------------------------------------------------- */
.heading {
  font-size: 3em;
  margin: 0;
}

.sub-heading {
  font-size: 2em;
  margin-bottom: 0.5em;
}

a {
  color: #eb2c2c;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #760c0c;
}

p {
  margin-bottom: 0px;
}


/*------------------------------------------------------------

Grid system is based off @davatron5000's "Foldy960".
https://github.com/davatron5000/Foldy960

--------------------------------------------------------------*/

/* Responsive Resets
-------------------------------------------------------------- */
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

html {
  overflow-y: auto;
}

img,
audio,
video,
canvas {
  max-width: 100%;
}

/* Grid > 6 Column Mobile First
-------------------------------------------------------------- */
.container {
  max-width: 45em;
  width:92%;
  margin:0px auto;
  position: relative;
}

.row {
  clear: both;
}

@media screen and (min-width: 480px) {
  .container {
    width: 98%;
  }
  
  .left-break {
    text-align: left;
  }
  
  .right-break {
    text-align: right;
  }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-unit {
    float: left;
    width:96.969696969697%;
    margin:0 1.515151515152% 1em;
  }

  .gallery .grid-unit,
  .grid-half {
    width:46.969696969697%;
    margin: 0 1.515151515152% 1em;
  }

  .grid-flow-opposite{
    float:right
  }

}

@media screen and (min-width: 640px) {
  .grid-1     { width: 13.636363636364%; }
  .grid-2     { width: 30.30303030303%; }
  .grid-3,
  .grid-half  { width: 46.969696969697%; }
  .grid-4     { width: 63.636363636364%; }
  .grid-5     { width: 80.30303030303%; }
  .grid-6,
  .grid-full  { width: 96.969696969697%; }

  .gallery .grid-unit {
    width: 30.30303030303%;
  }

}

/* Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
For best results, use your favorite clearfix here.
-------------------------------------------------------------- */
.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */
