/* Import Source Sans Pro
----------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700);

/* Layout
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #333;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #eb2c2c;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #760c0c;
}

p {
  font-size: 1.2em;
  line-height: 1.4;
  margin-top: 0em;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
}

header {
  background-color: #eb2c2c;
  margin-bottom: 3em;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  color: white;
  font-size: 2.5em;
  margin-top: .4em;
  margin-bottom: 0em;
}

header img {
  width: 7.5em;
  margin-top: 2em;
  border-radius: 99em;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 5px #FFF, 0 8px 1px rgba(0, 0, 0, 0.3);
  -webkitbox-shadow: 0 0 0 5px #FFF, 0 8px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 5px #FFF, 0 8px 1px rgba(0, 0, 0, 0.3);
}

header p {
  color: #febcbc;
  padding-bottom: 1.3em;
}

section h1 {
  font-size: 2em;
  line-height: .8em;
  margin-bottom: .4em;
}

/* For portfolio images */
img.grid-unit {
  border: 2px solid #eee;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

/* Same font-size and line-height as p element */
section ul li {
  font-size: 1.2em;
  margin-left: -10px;
  line-height: 1.4;
}

footer {
  padding-top: 8px;
}

.center {
  text-align: center;
}

/*------------------------------------------------------------

Grid system is based off @davatron5000's "Foldy960".
https://github.com/davatron5000/Foldy960

--------------------------------------------------------------*/

/* Responsive Resets
-------------------------------------------------------------- */
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

html {
  overflow-y: auto;
}

img,
audio,
video,
canvas {
  max-width: 100%;
}

/* Grid > 6 Column Mobile First
-------------------------------------------------------------- */
.container {
  max-width: 45em;
  width:92%;
  margin:0px auto;
  position: relative;
}

.row {
  clear: both;
}

@media screen and (min-width: 480px) {
  .container {
    width: 98%;
  }
  
  .left-break {
    text-align: left;
  }
  
  .right-break {
    text-align: right;
  }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-unit {
    float: left;
    width:96.969696969697%;
    margin:0 1.515151515152% 1em;
  }

  .gallery .grid-unit,
  .grid-half {
    width:46.969696969697%;
    margin: 0 1.515151515152% 1em;
  }

  .grid-flow-opposite{
    float:right
  }

}

@media screen and (min-width: 640px) {
  .grid-1     { width: 13.636363636364%; }
  .grid-2     { width: 30.30303030303%; }
  .grid-3,
  .grid-half  { width: 46.969696969697%; }
  .grid-4     { width: 63.636363636364%; }
  .grid-5     { width: 80.30303030303%; }
  .grid-6,
  .grid-full  { width: 96.969696969697%; }

  .gallery .grid-unit {
    width: 30.30303030303%;
  }

}

/* Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
For best results, use your favorite clearfix here.
-------------------------------------------------------------- */
.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */
