/* Layout
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #666;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #6594e0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

header {
  background-color: #333f6c;
  background-position: center center;
  background-size: cover;
  text-align: center;
  height: 500px;
  padding-top: 50px;
}

header h1 {
  color: #8c97e1;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.red-banner {
  background-color: red;
  padding: 5em;
  z-index: 3;
  position: relative;
}

section h1 {
  font-size: 2.2em;
  line-height: .8em;
  margin-bottom: .6em;
}

/* Same font-size and line-height as p element */
section ul li {
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.8;
}

footer {
  margin-bottom: 1em;
  color: #888;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

/* ------------------- Grid -------------------*/

.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
  *zoom: 1;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}

.the-grid [class*='grid'] span {
  background-color: #e5e5e5;
  width: 100%;
  display: block;
  padding: 15px;
  margin-top: 15px;
  font-family: monospace;
}

.octo {
  font-size: 5em;
  position: relative;
  top: 270px;
  display: block;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
      transition: all 200ms ease; 
  
}

.octo:hover {
  top: 250px;
}

