/* Layout
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #444956;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #6594e0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 4em;
  margin-bottom: 4em;
}

header {
  background-color: #444956;
  background-position: center center;
  background-size: cover;
  text-align: center;
  height: 520px;
  padding: 5em 0;
}

header h1 {
  color: #ededed;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 5%;
}

.btn {
  -webkit-border-radius: 100px;
    -moz-border-radius:  100px;
      border-radius: 100px;
  -webkit-transition: opacity 100ms ease;
    -moz-transition: opacity 100ms ease;
      transition: opacity 100ms ease;
  padding: 10px 30px;
  opacity: .8;
}

.btn:hover {
  opacity: 1;
}

.btn-red {
  background-color: #ed5c48;
  color: #fff;
}

.btn-red:hover {
  color: white;
}

.btn-dark {
  display: block;
  float: left;
  background-color: #2e3342;
  width: 48%;
  margin: 1%;
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: .7em;
  border-radius: 20px;
  color: #b1bfe8;
}

.btn-dark:hover {
  color: #b1bfe8;
}

@media screen and (min-width: 40em) {
  header {
    padding: 6em 0;
  }
  
  header btn-dark {
    width: 48%;
  }
}

.header-container {
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
}

.logo {
  width: 130px;
}


.red-banner {
  background-color: #ed5c48;
  padding: 3em 0;
  z-index: 3;
  position: relative;
}

.red-banner p {
  color: #ffdfdb;
  margin: 0 auto;
  line-height: 1.8; 
}

.red-banner a {
  color: white;
}

.red-banner p a:hover {
  text-decoration: underline;
}

.red-banner a i {
  font-size: 3em;
  color: #d4402c;
  position: relative;
  -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
      transition: color 200ms ease; 
  top: 20px;
  display: block;
  text-align: center;
}

.red-banner a i:hover {
  color: #b92d1a;
 
}

section h1 {
  margin-bottom: .6em;
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.8;
}

footer {
  padding: 1em;
  color: #888;
  background-color: #eee;
  margin-top: 2em;
  margin-bottom: 0;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

@media screen and (min-width: 40em) {
  .red-banner p {
    line-height: 2;
  }
  
  section h1 {
    font-size: 2.2em;
  }
}

/* ------------------- Grid -------------------*/

.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
  *zoom: 1;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}

.the-grid [class*='grid'] span {
  background-color: #e5e5e5;
  width: 100%;
  display: block;
  padding: 15px;
  margin-top: 15px;
  font-family: monospace;
}

.octo {
  color: #2e3342;
  opacity: .7;
  font-size: 5em;
  position: absolute;
  top: 460px;
  padding: 10px;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
      transition: all 200ms ease;
  width: 200px;
  margin: 0 auto;
  
}

.octo:hover {
  top: 420px;
  opacity: 1;
  color: #2e3342;
}


.small-container {
  max-width: 37em;
  width: 92%;
  margin: 0 auto;
}

.center-container {
  max-width: 30em;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.setup {
  padding-top: 4em;
}

.social {
  line-height: 1.5;
  margin-bottom: 4em;
}

.social h3 {
  font-size: 1.1em;
  margin-bottom: 30px;
}

.btn-light {
  background-color: #eee;
  margin: 7px;
  color: #444;
  width: 100%;
  display: block;
}

.btn-light:hover {
  color: #444;
}

.big-show {
    display: none;
 }

@media screen and (min-width: 40em) {

  .big-show {
    display: block;
  }  
  
  .btn-light {
    display: inline;
  }
}

/* Formal theme */
.formal {
  font-family: 'Merriweather', georgia, serif;
}

.formal h1 {
  font-family: 'Merriweather', georgia, serif;
  font-weight: 900;
  font-size: 4em;
  margin-bottom: 0;
}

.formal p {
  margin-bottom: 50px;
}


